<div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
      <h3>
        Profil de <strong>{{ currentUser.nom }} {{ currentUser.prenom }}</strong>
      </h3>
    </header>
    <p>
      <strong>Identifiant:</strong>
      {{ currentUser.username }}
      
    </p>
    <p>
      <strong>Email:</strong>
      {{ currentUser.email }}
    </p>
    <p>
      <strong>Roles:</strong>
    
        {{ currentUser.roles }}
      
    </p>
    
    
    <app-change-password></app-change-password>
  </div>

  <ng-template #loggedOut>
    Please login.
  </ng-template>
