<div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
      <h3>
        Profil de <strong>{{ currentUser.nom }} {{ currentUser.prenom }}</strong>
      </h3>
    </header>
    <p>
      <strong>Identifiant:</strong>
      {{ currentUser.username }}

    </p>
    <p>
      <strong>Email:</strong>
      {{ currentUser.email }}
    </p>
    <p>
      <strong>Roles:</strong>
      <ng-container *ngSwitch="currentUser.role">
        <span *ngSwitchCase="'ADMIN'">Administrateur</span>
        <span *ngSwitchCase="'USER'">Utilisateur</span>
        <span *ngSwitchCase="'MODERATOR'">Moderateur</span>
        <span *ngSwitchDefault>{{ currentUser.role }}</span>
      </ng-container>

    </p>


    <app-change-password></app-change-password>
  </div>

  <ng-template #loggedOut>
    Please login.
  </ng-template>
