<div class="container-fluid px-md-5 px-3 home-container">
  <div class="row py-3">

    <div class="col-lg-8 mx-auto">
        <!-- Titre -->
      <div class="mb-4 d-flex align-items-center">
        <fa-icon [icon]="faPills" class="text-primary me-2" style="font-size: 1.8rem;"></fa-icon>
        <h2 class="mb-0">{{ title }}</h2>
      </div>

        <!-- Formulaire -->
      <div class="card shadow-sm">
        <div class="card-body">
          <form class="row g-3">

            <div class="col-md-6">
              <label for="nom" class="form-label fw-bold">Nom</label>
              <input [(ngModel)]="poste.nom" type="text" name="nom" class="form-control" id="nom"  placeholder="Entrer votre nom" required>
            </div>
            <div class="col-md-6">
              <label for="email">Adresse</label>
              <input [(ngModel)]="poste.adresse" type="text" name="adresse" class="form-control" id="adresse"  placeholder="Entrer l'adresse">

            </div>
            <div class="col-md-6">
                <label for="telephone" class="form-label fw-bold">Téléphone</label>
                <input [(ngModel)]="poste.telephone" type="text" name="telephone" class="form-control" id="telephone"  placeholder="Entrer un numéro de téléphone">

              </div>

              <div class="col-md-6">
                <label for="email" class="form-label fw-bold">Email</label>
                <input [(ngModel)]="poste.email" type="text" name="email" class="form-control" id="email"  placeholder="Entrer l'adresse email">

              </div>
              <div class="col-md-6">
                <label for="budgetAnnuel" class="form-label fw-bold">Budget annuel</label>
                <input
                  [(ngModel)]="poste.budgetAnnuel"
                  type="text"
                  name="budgetAnnuel"
                  class="form-control"
                  id="budgetAnnuel"
                  placeholder="Entrer le budgetAnnuel"
                />
              </div>
         </form>
        </div>
      </div>

      <!-- Actions -->
      <div class="d-flex justify-content-end gap-2 mt-4 pt-3 border-top">
        <button class="btn btn-primary" *ngIf="isCreation()" (click)="save()">
          <fa-icon [icon]="faSave" class="me-1"></fa-icon> Créer
        </button>
        <button class="btn btn-primary" *ngIf="!isCreation()" (click)="update()">
          <fa-icon [icon]="faSave" class="me-1"></fa-icon> Enregistrer
        </button>
        <button class="btn btn-outline-secondary" [routerLink]="['/poste-list']">
          <fa-icon [icon]="faArrowLeft" class="me-1"></fa-icon> Retour
        </button>
      </div>

    </div>
  </div>
</div>
