<div class="container-fluid px-md-5 px-3 home-container">
  <div class="row py-3">

      <div class="col-sm-8">
        <div class="row" style="display: block;">
          <h2 >{{title}}</h2>
        </div>
        <div style="margin-bottom: 2vw;">
          <form>

            <div class="form-group">
              <label for="name">Nom</label>
              <input [(ngModel)]="poste.nom" type="text" name="nom" class="form-control" id="nom"  placeholder="Entrer votre nom">
            </div>
            <div class="form-group">
              <label for="email">Adresse</label>
              <input [(ngModel)]="poste.adresse" type="text" name="adresse" class="form-control" id="adresse"  placeholder="Entrer l'adresse">

            </div>
            <div class="form-group">
                <label for="email">Téléphone</label>
                <input [(ngModel)]="poste.telephone" type="text" name="telephone" class="form-control" id="telephone"  placeholder="Entrer un numéro de téléphone">

              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input [(ngModel)]="poste.email" type="text" name="email" class="form-control" id="email"  placeholder="Entrer l'adresse email">

              </div>
          </form>


        </div>
        <div class="btn-toolbar float-end">
          <button class="btn btn-primary me-1" *ngIf="isCreation()" (click)="save()">Créer</button>
          <button class="btn btn-primary me-1" *ngIf="!isCreation()" (click)="update()">Enregistrer</button>
          <button class="btn btn-primary" [routerLink]="['/poste-list']"> Retour</button>
        </div>
      </div>
    </div>

  </div>
