<div class="container-fluid px-md-5 px-3 home-container">
  <h2 class="text-center fst-italic times-new-roman py-3">Liste des produits</h2>


  <div class="row mb-3">
		<div class="col">
		  <input
			type="text"
			class="form-control"
			placeholder="Rechercher par nom"
			[(ngModel)]="searchTerm"
			(input)="filterProduits()"
		  />
		</div>
    <div class="col">
      <button class="btn btn-primary" [routerLink]="['/produit-form']"><fa-icon [icon]="faAdd" />Nouveau</button>
    </div>

	  </div>

  <!-- Tableau avec pagination -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-id">#</th>
        <th>DCI</th>
        <th class="col-quantite">Quantité</th>
        <th class="col-seuil">Seuil d'alerte</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="filteredProduits | async as produits">
        <!-- Afficher uniquement les éléments de la page actuelle -->
        <tr *ngFor="let produit of produits | paginate: { itemsPerPage: 10, currentPage: page }">
          <td class="col-id">{{ produit.id }}</td>
          <td>{{ produit.dci }} {{ produit.dosage }}</td>
          <td class="col-quantite">{{ produit.quantite }}</td>
          <td class="col-seuil">{{ produit.seuilAlerte }}</td>
          <td>
            <a (click)="selectProduit(produit)" class="padding_1vw a-view"><fa-icon [icon]="faEye" /></a>
            <a routerLink="/produit-form/{{produit.id}}" class="padding_1vw"><fa-icon [icon]="faPen" /></a>
            <a (click)="deleteProduit(produit.id)" class="padding_1vw"><fa-icon [icon]="faTrash"></fa-icon></a>
          </td>
        </tr>
      </ng-container>

    </tbody>
  </table>

  <!-- Pagination -->
  <div class="pagination">
    <pagination-controls (pageChange)="page = $event" [responsive]="true"
    [previousLabel]="paginationLabels.previousLabel"
    [nextLabel]="paginationLabels.nextLabel"
    [screenReaderPaginationLabel]="paginationLabels.screenReaderPaginationLabel"
    [screenReaderPageLabel]="paginationLabels.screenReaderPageLabel"
    [screenReaderCurrentLabel]="paginationLabels.screenReaderCurrentLabel"
    ></pagination-controls>
  </div>



  <!-- Détails du produit sélectionné -->
  <br />
  <br />
  <div class="row" *ngIf="selectedProduit !== undefined && selectedProduit !== null">
    <div class="col-sm-8">
      <h2 class="center">Détails du produit médical</h2>
      <label-text [label]="'Identifiant : '" [text]="selectedProduit.id" [width]="20"></label-text>
      <label-text [label]="'DCI : '" [text]="selectedProduit.nom" [width]="20"></label-text>
      <label-text [label]="'Forme : '" [text]="selectedProduit.forme" [width]="20"></label-text>
      <label-text [label]="'Dosage : '" [text]="selectedProduit.dosage" [width]="20"></label-text>
      <label-text [label]="'Quantité : '" [text]="selectedProduit.quantite" [width]="20"></label-text>
      <label-text [label]="'Seuil Alerte : '" [text]="selectedProduit.seuilAlerte" [width]="20"></label-text>
      <label-text [label]="'Prix : '" [text]="selectedProduit.prix" [width]="20"></label-text>
    </div>
  </div>
</div>
