<nav class="navbar navbar-expand-md bg-primary navbar-dark fixed-top mb-4">
  <a class="navbar-brand fs-2 font-italic times-new-roman" href="#">Dépot Virtuel</a>
  <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/home" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/transaction-list" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">Transactions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/produit-list" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">Produits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/poste-list" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">Postes</a>
      </li>


    </ul>
  </div>
</nav>

