<nav class="navbar navbar-expand-md bg-primary navbar-dark fixed-top mb-4">
  <a class="navbar-brand fs-2 font-italic times-new-roman" href="#">Dépot Virtuel</a>
  <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">

    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="transactionDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Transactions
        </a>
        <ul class="dropdown-menu" aria-labelledby="transactionDropdown">
          <li><a class="dropdown-item" routerLink="/transaction-list" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">Liste des Transactions</a></li>
          <li><a class="dropdown-item" routerLink="/vente-form" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">Vente</a></li>
          <li><a class="dropdown-item" routerLink="/entree-depot" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">Entrée</a></li>
          <li><a class="dropdown-item" routerLink="/retour-depot" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">Retour</a></li>

        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/produit-list" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">Produits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/poste-list" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">Postes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/stat-poste" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">Statistiques</a>
      </li>
    </ul>

    <!-- Right-aligned logout button -->
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <button class="btn btn-outline-light" (click)="logout()"> <i><fa-icon [icon]="faSignOutAlt" /> </i> Déconnexion</button>
      </li>
    </ul>

  </div>
</nav>