<div class="custom-modal-header" style="display: flex; justify-content: space-between; align-items: center;">
  <h3 mat-dialog-title>{{title}}</h3>
  <a (click)="onNoClick()">
    <fa-icon [icon]="faClose" ></fa-icon>
  </a>
</div><div mat-dialog-content class="custom-modal-content">
  <form>
    <div class="form-group mb-4">
      <label for="client" class="form-label">Médicament</label>
      <input
        class="form-control"
        id="searchText"
        name="searchText"
        type="text"
        [(ngModel)]="searchText"
        (ngModelChange)="onSearchChange(searchText)"
        [matAutocomplete]="auto"
        placeholder="Saisir pour rechercher"
      />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectProduit($event.option.value)" [displayWith]="displayProduit">
        <mat-option *ngFor="let option of (filteredOptions | async)" [value]="option">
          {{ displayProduit(option) }}
        </mat-option>
      </mat-autocomplete>
    </div>
    <div class="form-group">
      <label for="reference">Quantité</label>
      <input
        [(ngModel)]="ligneProduit.quantite"
        type="text"
        name="quantite"
        class="form-control"
        id="quantite"
        placeholder="Entrer la quantité"
      />
    </div>
  </form>
</div>
<div mat-dialog-actions class="custom-modal-footer">
  <button (click)="onNoClick()" class="btn btn-warning me-1 float-start">Annuler</button>
  <button  (click)="delete()" color="primary" class="btn btn-danger me-1 float-start">Supprimer</button>

  <button  (click)="save()" color="primary" class="btn btn-primary me-1 float-end">Ok</button>
</div>